# Canonicalise les anciens noms d'auteur git vers K0uzia
K0uzia <kouziaeffa.pro@gmail.com>
La Capsule <kouziaeffa.pro@gmail.com>
Sandersonndev <kouziaeffa.pro@gmail.com>
SandersonnDev <Kouziaeffa.pro@gmail.com>
